@page "/habitaciones"
@using Model.DTO
@using MudBlazor
@inject IHttpClientFactory ClientFactory
@using Blazored.LocalStorage
@inject ILocalStorageService localStorage
@inject ISnackbar Snackbar
@inject NavigationManager NavigationManager
@inject IDialogService DialogService
@using Newtonsoft.Json
@using System.Net.Http.Headers


<PageTitle>Habitaciones</PageTitle>

@if (_loading)
{
    <MudProgressCircular Indeterminate="true" />
}
else if (!string.IsNullOrEmpty(errorMessage))
{
    <MudAlert Severity="Severity.Error">@errorMessage</MudAlert>
}
else
{
    @* <MudGrid>
        @foreach (var habitacion in Alojamiento)
        {
            <MudItem xs="12" sm="6" md="4" lg="3">
                <MudCard>
                    <MudCardContent>
                        <MudText Typo="Typo.h6">@habitacion.CodigoAlojamiento</MudText>

                        <MudText Typo="Typo.body2">
                            @habitacion.Descripcion
                        </MudText>

                        <MudText Color="Color.Primary" Class="mt-2">
                            S/ @habitacion.Precio
                        </MudText>
                    </MudCardContent>
                    <MudCardActions>
                        <MudButton  Variant="Variant.Filled"
                                    OnClick="@(() => GenerarContrato(_maxWidth, habitacion.CodigoAlojamiento))"
                                    Color="Color.Primary"
                                    FullWidth="true"
                                    Disabled="@(!habitacion.EstadoAlojamiento)">
                            @(habitacion.EstadoAlojamiento ? "Alquilar" : "No Disponible")
                        </MudButton>
                    </MudCardActions>

                </MudCard>
            </MudItem>
        }
    </MudGrid> *@

    <style>
        .grid-dashboard {
        display: grid;
        grid-template-columns: repeat(8, 1fr);
        grid-template-rows: repeat(3, 100px);
        gap: 12px;
        }


        .item-hab-301 {
            grid-column: 1;
            grid-row: 1 / 3;
        }


        .item-hab-307 {
            grid-column: 8;
            grid-row: 1 / 3;
        }

        .centro-unido-f2 {
            grid-column: 2 / 8;
            grid-row: 2;
        }

        .item-hab-304 {
            grid-column: 5 / 7;
            grid-row: 1;
        }

        .item-hab-305 {
            grid-column: 5 / 7;
            grid-row: 3;
        }

        .item-hab-302{
            grid-column: 3;
            grid-row: 1;
        }

        .item-hab-303 {
            grid-column: 3;
            grid-row: 3;
        }

        .item-hab-306 {
            grid-column: 7;
            grid-row: 3;
        }
    </style>

    <MudItem xs="12">
        <MudPaper Class="pa-2" Elevation="3" Style="overflow-x: auto; overflow-y: auto;">
        
            <div style="min-width: 900px; min-height: 600px;">

                <MudPaper Class="pa-5" Elevation="3">
                    <MudItem Class="d-flex align-content-start justify-content-start mud-width-full" xs="12">
                        <MudItem Class="d-flex align-content-start justify-start mud-width-full" xs="6">
                            <MudText Typo="Typo.h6" Color="Color.Primary">Piso 3</MudText>
                        </MudItem>
                    </MudItem>
                </MudPaper>
                <div class="grid-dashboard mb-10 mt-10">

                    @if (Alojamientos.ContainsKey("301"))
                    {

                        <MudPaper Class="item-hab-301 d-flex flex-column">

                            <MudButton Variant="Variant.Filled"
                                       Color="Color.Primary"
                                       Class="mud-width-full flex-grow-1"
                                       Disabled="@(!Alojamientos["301"].EstadoAlojamiento)">
                                <MudText Typo="Typo.h6">@Alojamientos["301"].CodigoAlojamiento</MudText>
                            </MudButton>

                            <MudButton Variant="Variant.Filled"
                                       Color="Color.Primary"
                                       Class="mud-width-full flex-grow-1"
                                       @onclick="@(() => GenerarContrato(_maxWidth, Alojamientos["301"]))"
                                       Disabled="@(!Alojamientos["301"].EstadoAlojamiento)">
                                @(Alojamientos["301"].EstadoAlojamiento ? "Alquilar" : "Alquilado")
                            </MudButton>

                            <MudButton Variant="Variant.Filled"
                                       Color="Color.Primary"
                                       Class="mud-width-full flex-grow-1"
                                       @onclick="@(() => EditarHabitacion(_maxWidth, Alojamientos["301"]))">
                                @(Alojamientos["301"].EstadoAlojamiento ? "Editar" : "Editar")
                            </MudButton>

                        </MudPaper>

                    }

                    @for (int i = 1; i <= 7; i++)
                    {
                        <MudPaper Style="background-color: #808080; color: white;" Class="d-flex align-center justify-center">
                        </MudPaper>
                    }
                    @if (Alojamientos.ContainsKey("302"))
                    {

                        <MudPaper Class="item-hab-302 d-flex flex-column">

                            <MudButton Variant="Variant.Filled"
                                       Color="Color.Primary"
                                       Class="mud-width-full flex-grow-1"
                                       Disabled="@(!Alojamientos["302"].EstadoAlojamiento)">
                                <MudText Typo="Typo.h6">@Alojamientos["302"].CodigoAlojamiento</MudText>
                            </MudButton>

                            <MudButton Variant="Variant.Filled"
                                       Color="Color.Primary"
                                       Class="mud-width-full flex-grow-1"
                                       @onclick="@(() => GenerarContrato(_maxWidth, Alojamientos["302"]))"
                                       Disabled="@(!Alojamientos["302"].EstadoAlojamiento)">
                                @(Alojamientos["302"].EstadoAlojamiento ? "Alquilar" : "Alquilado")
                            </MudButton>

                            <MudButton Variant="Variant.Filled"
                                       Color="Color.Primary"
                                       Class="mud-width-full flex-grow-1"
                                       @onclick="@(() => EditarHabitacion(_maxWidth, Alojamientos["302"]))">
                                @(Alojamientos["302"].EstadoAlojamiento ? "Editar" : "Editar")
                            </MudButton>

                        </MudPaper>
                    }
                    @if (Alojamientos.ContainsKey("303"))
                    {

                        <MudPaper Class="item-hab-303 d-flex flex-column">

                            <MudButton Variant="Variant.Filled"
                                       Color="Color.Primary"
                                       Class="mud-width-full flex-grow-1"
                                       Disabled="@(!Alojamientos["303"].EstadoAlojamiento)">
                                <MudText Typo="Typo.h6">@Alojamientos["303"].CodigoAlojamiento</MudText>
                            </MudButton>
                            <MudButton Variant="Variant.Filled"
                                       Color="Color.Primary"
                                       Class="mud-width-full flex-grow-1"
                                       @onclick="@(() => GenerarContrato(_maxWidth, Alojamientos["303"]))"
                                       Disabled="@(!Alojamientos["303"].EstadoAlojamiento)">
                                @(Alojamientos["303"].EstadoAlojamiento ? "Alquilar" : "Alquilado")
                            </MudButton>

                            <MudButton Variant="Variant.Filled"
                                       Color="Color.Primary"
                                       Class="mud-width-full flex-grow-1"
                                       @onclick="@(() => EditarHabitacion(_maxWidth, Alojamientos["303"]))">
                                @(Alojamientos["303"].EstadoAlojamiento ? "Editar" : "Editar")
                            </MudButton>
                        </MudPaper>
                    }

                    @if (Alojamientos.ContainsKey("304"))
                    {

                        <MudPaper Class="item-hab-304 d-flex flex-column">

                            <MudButton Variant="Variant.Filled"
                                       Color="Color.Primary"
                                       Class="mud-width-full flex-grow-1"
                                       Disabled="@(!Alojamientos["304"].EstadoAlojamiento)">
                                <MudText Typo="Typo.h6">@Alojamientos["304"].CodigoAlojamiento</MudText>
                            </MudButton>
                            <div class="d-flex flex-grow-1">

                                <MudButton Variant="Variant.Filled"
                                           Color="Color.Primary"
                                           Class="mud-width-full flex-grow-1"
                                           @onclick="@(() => GenerarContrato(_maxWidth, Alojamientos["304"]))"
                                           Disabled="@(!Alojamientos["304"].EstadoAlojamiento)">
                                    @(Alojamientos["304"].EstadoAlojamiento ? "Alquilar" : "Alquilado")
                                </MudButton>

                                <MudButton Variant="Variant.Filled"
                                           Color="Color.Primary"
                                           Class="mud-width-full flex-grow-1"
                                           @onclick="@(() => EditarHabitacion(_maxWidth, Alojamientos["304"]))">
                                    @(Alojamientos["304"].EstadoAlojamiento ? "Editar" : "Editar")
                                </MudButton>
                            </div>
                        </MudPaper>
                    }



                    <MudPaper Style="background-color: #808080; color: white;" Class="centro-unido-f2 d-flex align-center justify-center gap-4">
                    </MudPaper>


                    @if (Alojamientos.ContainsKey("305"))
                    {

                        <MudPaper Class="item-hab-305 d-flex flex-column">

                            <MudButton Variant="Variant.Filled"
                                       Color="Color.Primary"
                                       Class="mud-width-full flex-grow-1"
                                       Disabled="@(!Alojamientos["305"].EstadoAlojamiento)">
                                <MudText Typo="Typo.h6">@Alojamientos["305"].CodigoAlojamiento</MudText>
                            </MudButton>
                            <div class="d-flex flex-grow-1">

                                <MudButton Variant="Variant.Filled"
                                           Color="Color.Primary"
                                           Class="mud-width-full flex-grow-1"
                                           @onclick="@(() => GenerarContrato(_maxWidth, Alojamientos["305"]))"
                                           Disabled="@(!Alojamientos["305"].EstadoAlojamiento)">
                                    @(Alojamientos["305"].EstadoAlojamiento ? "Alquilar" : "Alquilado")
                                </MudButton>

                                <MudButton Variant="Variant.Filled"
                                           Color="Color.Primary"
                                           Class="mud-width-full flex-grow-1"
                                           @onclick="@(() => EditarHabitacion(_maxWidth, Alojamientos["305"]))">
                                    @(Alojamientos["305"].EstadoAlojamiento ? "Editar" : "Editar")
                                </MudButton>
                            </div>
                        </MudPaper>
                    }

                    @if (Alojamientos.ContainsKey("306"))
                    {

                        <MudPaper Class="item-hab-306 d-flex flex-column">

                            <MudButton Variant="Variant.Filled"
                                       Color="Color.Primary"
                                       Class="mud-width-full flex-grow-1"
                                       Disabled="@(!Alojamientos["306"].EstadoAlojamiento)">
                                <MudText Typo="Typo.h6">@Alojamientos["306"].CodigoAlojamiento</MudText>
                            </MudButton>

                            <MudButton Variant="Variant.Filled"
                                       Color="Color.Primary"
                                       Class="mud-width-full flex-grow-1"
                                       @onclick="@(() => GenerarContrato(_maxWidth, Alojamientos["306"]))"
                                       Disabled="@(!Alojamientos["306"].EstadoAlojamiento)">
                                @(Alojamientos["306"].EstadoAlojamiento ? "Alquilar" : "Alquilado")
                            </MudButton>

                            <MudButton Variant="Variant.Filled"
                                       Color="Color.Primary"
                                       Class="mud-width-full flex-grow-1"
                                       @onclick="@(() => EditarHabitacion(_maxWidth, Alojamientos["306"]))">
                                @(Alojamientos["306"].EstadoAlojamiento ? "Editar" : "Editar")
                            </MudButton>

                        </MudPaper>
                    }
                    @if (Alojamientos.ContainsKey("307"))
                    {

                        <MudPaper Class="item-hab-307 d-flex flex-column">

                            <MudButton Variant="Variant.Filled"
                                       Color="Color.Primary"
                                       Class="mud-width-full flex-grow-1"
                                       Disabled="@(!Alojamientos["307"].EstadoAlojamiento)">
                                <MudText Typo="Typo.h6">@Alojamientos["307"].CodigoAlojamiento</MudText>
                            </MudButton>

                            <MudButton Variant="Variant.Filled"
                                       Color="Color.Primary"
                                       Class="mud-width-full flex-grow-1"
                                       @onclick="@(() => GenerarContrato(_maxWidth, Alojamientos["307"]))"
                                       Disabled="@(!Alojamientos["307"].EstadoAlojamiento)">
                                @(Alojamientos["307"].EstadoAlojamiento ? "Alquilar" : "Alquilado")
                            </MudButton>

                            <MudButton Variant="Variant.Filled"
                                       Color="Color.Primary"
                                       Class="mud-width-full flex-grow-1"
                                       @onclick="@(() => EditarHabitacion(_maxWidth, Alojamientos["307"]))">
                                @(Alojamientos["307"].EstadoAlojamiento ? "Editar" : "Editar")
                            </MudButton>

                        </MudPaper>
                    }


                </div>
                <MudPaper Class="pa-5" Elevation="3">
                    <MudItem Class="d-flex align-content-start justify-content-start mud-width-full" xs="12">
                        <MudItem Class="d-flex align-content-start justify-start mud-width-full" xs="6">
                            <MudText Typo="Typo.h6" Color="Color.Primary">Piso 2</MudText>
                        </MudItem>
                    </MudItem>
                </MudPaper>

                <div class="grid-dashboard mt-10">
                    @if (Alojamientos.ContainsKey("201"))
                    {

                        <MudPaper Class="item-hab-301 d-flex flex-column">

                            <MudButton Variant="Variant.Filled"
                                       Color="Color.Primary"
                                       Class="mud-width-full flex-grow-1"
                                       Disabled="@(!Alojamientos["201"].EstadoAlojamiento)">
                                <MudText Typo="Typo.h6">@Alojamientos["201"].CodigoAlojamiento</MudText>
                            </MudButton>

                            <MudButton Variant="Variant.Filled"
                                       Color="Color.Primary"
                                       Class="mud-width-full flex-grow-1"
                                       @onclick="@(() => GenerarContrato(_maxWidth, Alojamientos["201"]))"
                                       Disabled="@(!Alojamientos["201"].EstadoAlojamiento)">
                                @(Alojamientos["201"].EstadoAlojamiento ? "Alquilar" : "Alquilado")
                            </MudButton>

                            <MudButton Variant="Variant.Filled"
                                       Color="Color.Primary"
                                       Class="mud-width-full flex-grow-1"
                                       @onclick="@(() => EditarHabitacion(_maxWidth, Alojamientos["201"]))">
                                @(Alojamientos["201"].EstadoAlojamiento ? "Editar" : "Editar")
                            </MudButton>

                        </MudPaper>
                    }
                </div>
            </div>
        </MudPaper>
    </MudItem>
    
    





}


@code {

    private List<DTO_Alojamiento_Obten> Alojamiento = new();
    private Dictionary<string, DTO_Alojamiento_Obten> Alojamientos = new();
    private string errorMessage = string.Empty;
    private bool _loading = true;
    private readonly DialogOptions _maxWidth = new() { MaxWidth = MaxWidth.Medium, FullWidth = true };


    protected override async Task OnInitializedAsync()
    {
        var token = await localStorage.GetItemAsync<string>("authToken");
        if (string.IsNullOrEmpty(token))
        {
            NavigationManager.NavigateTo("/login");
            return;
        }
        await GetAlojamientos();
    }

    private async Task GetAlojamientos()
    {
        try
        {
            var client = ClientFactory.CreateClient("ApiStayly");
            // Agregar el token de autorización a la solicitud actual
            var token = await localStorage.GetItemAsync<string>("authToken");
            if (token != null)
            {
                client.DefaultRequestHeaders.Authorization = new AuthenticationHeaderValue("Bearer", token);
            }

            var response = await client.GetAsync("api/Alojamiento/Alojamiento_Obten");

            if (response.IsSuccessStatusCode)
            {
                string responseBody = await response.Content.ReadAsStringAsync();

                Alojamiento = JsonConvert.DeserializeObject<List<DTO_Alojamiento_Obten>>(responseBody) ?? new();

                if (response.IsSuccessStatusCode)
                {
                    //Alojamiento = JsonConvert.DeserializeObject<List<DTO_Alojamiento_Obten>>(responseBody) ?? new();
                    Alojamientos = Alojamiento.ToDictionary(x => x.CodigoAlojamiento);
                }
                else
                {
                    errorMessage = $"Error HTTP: {response.StatusCode}";
                }
            }
            else
            {
                errorMessage = $"Error HTTP: {response.StatusCode}";
            }
        }
        catch (Exception ex)
        {
            errorMessage = $"Error: {ex.Message}";
        }
        finally
        {
            _loading = false;
        }
    }
    // private Task GenerarContrato(DialogOptions options, string CodigoAlojamiento)
    // {

    //     var parameters = new DialogParameters
    //     {
    //         { "CodigoAlojamiento", CodigoAlojamiento }
    //     };
    //     return DialogService.ShowAsync<DialogGeneraContrato>("Genera Contrato", parameters, options);
    // }
    private Task GenerarContrato(DialogOptions options, DTO_Alojamiento_Obten Alojamiento)
    {

        var parameters = new DialogParameters
        {
            { "Alojamiento", Alojamiento }
        };
        return DialogService.ShowAsync<DialogGeneraContrato>("Genera Contrato", parameters, options);
    }
    private Task EditarHabitacion(DialogOptions options, DTO_Alojamiento_Obten Alojamiento)
    {

        var parameters = new DialogParameters
        {
            { "Alojamiento", Alojamiento }
        };
        return DialogService.ShowAsync<DialogEditarHabitacion>("Editar Habitación", parameters, options);
    }
}